@-webkit-keyframes netChange{
	/*0% {
		width: 37.81267%;
		height: 68.82464%;
		-webkit-transform: rotateX(0deg);
	}
	25% {
		width: 39.81267%;
		height: 74.82464%;
		-webkit-transform: rotateX(30deg);
	}
	50% {
		width: 41.81267%;
		height: 78.82464%;
		-webkit-transform: rotateX(50deg);
	}
	75% {
		width: 39.81267%;
		height: 74.82464%;
		-webkit-transform: rotateX(30deg);
	}
	100% {
		width: 37.81267%;
		height: 68.82464%;
		-webkit-transform: rotateX(0deg);
	}*/
	0% {
		background: url("../img/net2.png");
	}
	95% {
		background: url("../img/net2.png");
	}
	100% {
		background: url("../img/net1.png");
	}
}
